// Colors
$white: #FFFFFF;
$greyShadow: rgba(0, 0, 0, 0.25);
$greenBackground: #ECFFE2;
$beigeMenu: #FEFFE4;
$greenPrincipal: #01D392;
$pinkButton: #FA4659;

// Media query
$media-point-tablet: 768px;
$media-point-desktop: 1024px;
