@use './variables' as v;
@use './mixins' as m;

.item{
  margin: 10px 0;
  border: 1px solid v.$greyShadow;
  border-radius: 25px;
  background-color: v.$white;
  box-shadow: 0 4px 4px v.$greyShadow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
    &__img {
      margin: 10px;
      width: 75px;
      height: 75px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      clip-path: circle();
    }
    &__info{
      flex-grow: 4;
      p{
        text-align: left;
        margin: 0;
        @include m.desktop() {
          margin-left: 25px;
        }
      }
      &-name{
        color: v.$pColorTitle;
      }
      &-email{
        color: v.$pColorSubtitle;
      }
    }
    &__action button{
      width: 70px;
      @include m.desktop() {
        width: 90px;
      }
    }
}
